


.cloud1{
    position: relative;
    left:300px;
    width:250px;
     
}

.cloud2{
    position:absolute;
    left:200px;
    width:250px;

}

.top-container{

    padding-top:100px;
    background-color: plum;
}

#middle-container{

    line-height: 40px;
    padding-bottom:75px;

}

.profile-pic{
    width:200px;
    height:200px;
    padding-top:30px;

    
}

#middle-container-text{
    color:gray;
    font-size:23px;
    display: inline-block;
    width: 500px;
}
   

    

body{
    margin: 0;
    text-align:center;
    background-color: rgb(231, 193, 200);
    
}

.under-name{
    font-size:35px;
    color:palevioletred;
    font-weight:normal;
}


h1.name-heading{
    margin:0 ;
    font-family: 'Sacramento';
    font-size:100px;
    color:palevioletred;
   
}

h2{
    color:palevioletred;
    font-size:30px;
}

.big-h2{
    font-size:40px;
}

h3{
    color:white;
}

 /* p{
    color:gray;
    display:block;
    width:400px;
    position: relative;
    left:475px;
    font-size:23px;
} */


#paint-description{
    color:gray;
    font-size:23px
  
 
}



.paint-background{
    width:200px;
    height:200px;
    border-radius: 30px;
    float:right;
    margin-left: 30px;
}


.paint{
    width:100px;
    height:100px;
    position:absolute;
    display:inline-block;
    left:860px;
    top:1600px;
} 


.web-dev{
    width:200px;
    height:200px;
    float:left;
}

#webdev-desciption{
    color:gray;
    font-size:23px

}



.skill-row{
    width:50%;
    margin:100px auto 100px auto;
    line-height:40px;
}

.bottom-container{

    padding-top:25px;
    background-color:plum;
    padding-bottom:10px;
    font-size:18px;

    
  
}

.contact-me{
    margin:50px;
    color:gray;
    font-size:23px
}

#contact-me-subheading{
    font-size:20px;
    
}

#contact-me-text{
    width:500px;
    display: inline-block;
    width: 500px;
    padding-bottom: 30px;
}

#footer-links{
    word-spacing:10px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #be72c2);
    background-image: -moz-linear-gradient(top, #3498db, #be72c2);
    background-image: -ms-linear-gradient(top, #3498db, #be72c2);
    background-image: -o-linear-gradient(top, #3498db, #be72c2);
    background-image: linear-gradient(to bottom, #3498db, #be72c2);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #be72c2;
    background-image: -webkit-linear-gradient(top, #be72c2, #3498db);
    background-image: -moz-linear-gradient(top, #be72c2, #3498db);
    background-image: -ms-linear-gradient(top, #be72c2, #3498db);
    background-image: -o-linear-gradient(top, #be72c2, #3498db);
    background-image: linear-gradient(to bottom, #be72c2, #3498db);
    text-decoration: none;
  }

  hr{
    border-top:0;
    border-bottom: dotted 5px rgb(170, 166, 166); 
    width:40px;

}

a{
    color:purple;
}

#copyright{
    color:gray;
    
}